<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
<body>
{% include 'navigation.html' %}
<a href="{{ url_for('add_author') }}">
    <button>Add author</button>
</a>
<ol>
    {% for author in authors %}
        <li> {{ author.name }} {% if author.date_of_birth %}(DOB - {{ author.date_of_birth }}) {% endif %}
            {% if author.direction %}direction: {{ author.direction }}{% endif %}</li>
        <a href="{{ url_for('edit_author', author_id = author.id ) }}">
            Edit
        </a>
        <a href="{{ url_for('delete_author', author_id = author.id ) }}" style="margin-left: 10px;">
            Delete
        </a>
        <br> <br>
    {% endfor %}
</ol>
</body>
</html>